* {
    padding: 0;
    margin: 0;
}

:root {
    --yellow: #FCF02D;
    --white: #FFFFFF;
}

.container-fluid {
    max-width: 1250px;
}

body {
    background: linear-gradient(to bottom, #1b1b1b 0%, #2e2e2e 40%, #1C1C1C 150%), linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    position: absolute;
    top: 50px;
    z-index: 2;
}

.nav-flex {
    padding: 45px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 100px;
    align-items: center;
}

.ul-flex {
    display: flex;
    flex-direction: row;
    gap: 60px;
    font-size: 19px;
    color: var(--white);
    font-weight: 500;
    text-decoration: none;
}

.logo {
    color: var(--yellow);
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
}

.card-movie {
    height: 544px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.title {
    color: var(--white);
    font-size: 50px;
    font-family: 'Candal', sans-serif;
}

.info {
    color: var(--white);
    display: flex;
    flex-direction: row;
    gap: 20px;
    letter-spacing: 1px;
}

.padding-span {
    padding: 0px 5px;
}

.paragraph {
    color: var(--white);
    font-size: 19px;
    padding: 20px 0px;
    line-height: 35px;
    letter-spacing: 0.5px;
}

.btn-new {
    background-color: transparent;
    color: #EEEEEE;
    padding: 15px 30px;
    border: solid 3px var(--white);
    border-radius: 26px;
    font-weight: 500;
}

.btn-new:hover {
    background-color: #EEEEEE;
    color: #1b1b1b;
}

.btn-flex {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}

.img-boy {
    width: 420px;
}

.img-cnt {
    display: flex;
    justify-content: center;
    height: 500px;
}

.outer_circle {
    stroke-width: 3;
    stroke-dasharray: 410;
    stroke-dashoffset: 0;
    stroke-linecap: square;
    transition: all .4s ease-out;
}

.glightbox_video:hover .outer_circle {
    stroke-dashoffset: 410;
    transition: stroke .7s .4s ease-out, stroke-dashoffset .4s ease-out
}

.glightbox_video:hover .inner-circle {
    fill: var(--yellow);
    transition: fill .4s .3s ease-out;
}

.glightbox_video:hover .play {
    fill: white;
    transition: fill .4s .3s ease-out;
}